body {
    margin: 0;
    font-size: 18px;
}

.filter-tab {
    margin: 0;
    padding: 0;
    text-align: center;
}

.filter-tab-item {
    list-style: none;
    padding-bottom: 5px;
     margin: 10px;
     border: 1px solid black;
     padding-right: 10px;
     display: inline-block;
}

/* Start Flexboxes */
.catalog {
    display: flex;

    height: 1600px;
    flex-grow: 1;

    flex-direction: row; /* направление главной оси | row, column, row-revers ,column-revers*/
    flex-wrap: wrap; /* иожно ли переносить елементы на новую строку | nowrap, wrap, wrap-revers*/
    /* flex-flow  = flex-direction + flex-wrap */
    /* flex-flow: row wrap; */

    justify-content: flex-start;
    align-items: flex-start;
    
    align-content: flex-start;  /* выравнивание строк | flex-start, flex-end, center, space-between, space-around, space-evenly, stretch */

}

.product {
    flex-basis: 25%; /* минимальный размер элемента в конейнере */
    font-size: 16px;
    padding: 20px;
    box-sizing: border-box;
}

.product.half{
    flex-basis: 50%;
}

/* End Flexboxes */

.product-img {
    margin-bottom: 1em;
    width: 180px;
    height: 220px;
    border: 1px solid #000;
}

.product-title {
    font-size: 24px;
}

.product-title,
.product-price {
    margin-bottom: 1rem;
}

.product-buy-btn {
    background-color: red;
    color: white;
    text-transform: uppercase;
    padding: .8em 2.8em;
    border: none;
    cursor: pointer;
    outline: none;
}
